$color-primary:#282C2F;

.button-div {
   display: flex;
   justify-content: flex-start;
}

.button {
   text-transform: uppercase;
   border-radius: .5rem;
   height: 2.25rem;
   width: 7rem;
   border: none;
   border: 1px solid $color-primary;
   background: $color-primary;
   cursor: pointer;
   color: white;
   outline: none;
   transition: all .2s;
   

   &:hover {
      transform: translateY(-1.5px);
      background: #282c2fe1;
   }

   &:active {
      transform: translateY(1px);
   }
}