.home {
   padding: 3.5rem;
   display: flex;
   flex-direction: column;
   
   align-items: center;

   &_title {
      margin-bottom: 3rem;
   }
}

.form_upload {
   margin-bottom: 2rem;
}

.form-input {
   margin-bottom: 1rem;
}