$color-primary:#282C2F;

.header {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 12.5vw 75vw 12.5vw;
    background-color: black;
    position: fixed;
    z-index: 1000;
    height: 10vh;

  &-content {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      display: flex;
      align-items: center;
  }

  &-title {
    display: flex;
    align-items: center;
    color: white;

    &-logo {
      width: 1.5rem;
      height: 1.5rem;
      animation: rotateMe 4s infinite;
    }

    &-bg {
      margin-left: .5rem;
      font-weight: bold;
      font-size: 1.5rem;
      text-transform: uppercase;
    }
    &-sm {
      margin-left: 3px;
      font-weight: 100;
      font-size: 1.5rem;
      text-transform: uppercase;
    }
  }

  &-links {
    font-weight: bold;
    font-size: .80rem;
    margin-left: auto;
    text-transform: uppercase;
  }


  &-nav-link {
  text-decoration: none;
  color: rgb(175, 173, 173);
  margin: 0 1rem;
  transition: all .15s;

    &:hover {
      color: white;
      cursor: pointer;
      transform: scale(1.05);
    }

    &:active {
      transform: translateY(.5px);
    }

    &:focus {
      color: white;
    }
  }
}

@keyframes rotateMe {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

