$color-primary:#282C2F;
$image_url: '../images/header.png';

.footer {
   grid-row: 5 / 6;
   padding: 2rem 0 0 1rem;
   
   background-image: linear-gradient(to right,#000000, #000000bd), url($image_url);
   background-size: cover;
   background-attachment: fixed;
   font-size: 1.10rem;

   min-height: 5vh;
   display: flex;
   align-items: center;
   justify-content: center;
   
   &-span {
      color: white;
   }
}
