$color-primary:  rgb(22, 131, 155);

.upload {
    grid-row: 1 / -1;
    grid-column: 2 / 3;
    margin-top: 5rem;
    /*display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 12.5vw repeat(2, 37.5vw) 12.5vw;*/
    
    &-title {
        font-size: 2.25rem;
        color: $color-primary;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-content-0 {
        font-size: 1.25rem;

        &-link:hover {
            cursor: pointer;
            color: $color-primary;
            text-decoration-line: underline;
        }
    }

    &-content-1 {
        font-size: 1.25rem;
        margin-top: 5rem;
        padding: 0 10rem 0 10rem;
    }
 
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #0c9;
    color: #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
}

.disable{
   cursor: not-allowed;
   opacity: 0.6;
}

.my-float {
    font-size: 25px;
}

.table {
    margin-top: 0.5rem;
    display: grid;
   //width: 750px;
    grid-template-columns: 30% 70%;
    border: 1px solid gray;

    align-items: center;

    .key,
    .value {
        padding: 1rem;
    }
    .value {
        border-left: 1px dotted gray;
    }
    .key {
         justify-self: center;
        background: rgba(255, 255, 255, 0.2);
        font-weight: 700;
    }
}
