.App {
  overflow: hidden;
  display: grid;
  grid-template-rows: 10vh 90vh repeat(2, 100vh) 30vh;
  position: relative;
}

.App-body {
  grid-row: 2 / 5;
  display: grid;
  grid-template-columns: 12.5vw 75vw 12.5vw;
  background-color: white;
}

.address {
  color: #282C2F;
  font-weight: 600;
}