.App {
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 95vh repeat(2, 100vh) 30vh;
}

.App-body {
  grid-row: 2 / 4;
  display: grid;
  grid-template-rows: [section-1-start]50% [section-2-start]50% [footer-start];
}

.address {
  color: #282C2F;
  font-weight: 600;
}